<div class="random-container">
  <div class="randomImg">
    <img src="{{beer.image_url}}" alt="{{beer.name}}" width = "100px">
  </div>
  <div class="randomBox">
    <h1>{{beer.name}}</h1>
    <h4>{{beer.tagline}}</h4>
    <p>{{beer.description}}</p>
    <strong>Food Pairing:</strong>
    <ul>
      <li>{{pairing1}}</li>
      <li>{{pairing2}}</li>
      <li>{{pairing3}}</li>
    </ul>
    <strong>Brewers Tips: </strong><p>{{beer.brewers_tips}}</p>
  </div>
</div>